body {
    background: rgba(255, 255, 255, 0.8);
    max-width: 900px;
    margin: auto;
}

.head_photo {
    border: 5px solid;
    border-radius: 50%;
}


#title, .subtitle, .post_title {
    color: rgb(33, 33, 44);
}
#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: bold;
    text-transform: uppercase;
}
a {
    text-decoration:underline;
    color: rgb(8, 27, 199);
}
.post_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: bold;
}
.post {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(218, 216, 216);
    padding: 15px;
    border-color: black;
    border-style: solid;
    border-top-width: 10px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 10px;
    border-radius: 50px;
    margin: 10px;
    width: 900px;
    

}

.post_content {
    margin: 0;
    margin-bottom: 30px;
    margin: auto;
    text-align: justify;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}
.contact_list {

    list-style-type:square;
    padding-right: 20px;
    
}